.frame {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(to right top, #43399F, #487DB3, #4EC4C9); 
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.one-one {
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: #eeeaea;
  width: 50px;
  height: 25px;
  position: absolute;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  top: 20%;
  left: 15%;
  rotate: -40deg;
}

.one-two {
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #eeeaea;
  width: 25px;
  height: 120px;
  position: absolute;
  top: 16.5%;
  left: 24%;
}
.zero-one{
  position: absolute;
   border: 30px solid #eeeaea;
   border-radius: 60px;
   box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
   width: 50px;
  height: 65px;
  top: 33%;
  left: 45%;
  transform: translate(-50%,-50%);
}

.zero-two {
  position: absolute;
  border: 30px solid #eeeaea;
  border-radius: 60px;
  width: 50px;
 height: 65px;
 top: 33%;
 left: 70%;
 transform: translate(-50%,-50%);
}

.DAYS {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: .04em
}

.CHALLENGE {
  position: absolute;
  text-transform: uppercase;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: xx-large;
  letter-spacing: .04em
}